<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WhisperBin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
</head>

<body>
    <main class="fade-in">
        <a href="/">
            {{ template "header" . }}

            <p>Share this one-time link:</p>

            {{ template "link_field" (dict "InputID" "secret-link" "Value" .Link "CopyButtonID" "copy-link-btn") }}

            <p>This link works only once.</p>

            <a href="/" class="back-button">Back to WhisperBin</a>
    </main>

    {{ template "footer" . }}

    <script>
        function copyToClipboard(elementId, buttonId) {
            const text = document.getElementById(elementId).value
            navigator.clipboard.writeText(text).then(() => {
                const btn = document.getElementById(buttonId)
                btn.textContent = "Copied"
                setTimeout(() => {
                    btn.textContent = "Copy"
                }, 1500)
            })
        }
    </script>
</body>

</html>