<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WhisperBin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <main>
        <a href="/">
            <img src="/static/title.png" alt="Artistic visual" class="title-image">
        </a>
        <h2>Your one-time link:</h2>
        <p>
            <a href="{{.}}">{{.}}</a>
        </p>
        <p>This link works only once.</p>

        <footer>
            Your secrets, shared safely &mdash; one time only
        </footer>
    </main>
</body>

</html>