<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WhisperBin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
</head>

<body>
  <main class="fade-in">
    {{ template "header" . }}

    <p>{{.Message}}</p>

    <a href="/" class="back-button">Back to WhisperBin</a>

    {{ template "footer" . }}
  </main>
</body>

</html>