<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WhisperBin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <main>
        <a href="/">
            <img src="/static/title.png" alt="Artistic visual" class="title-image">
        </a>
        <form action="/secret" method="post">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

            <div class="secret-field">
                <input type="password" id="secret" name="secret" placeholder="Paste your secret here" required>

                <div class="secret-actions">
                    <button type="button" onclick="toggleSecret()" id="toggle-btn">Show</button>
                </div>
            </div>

            <label for="ttl">Time to live (TTL) in minutes
                <input id="ttl" type="number" name="ttl" placeholder="Default 10" min="1" max="1440">
            </label>
            <label for="secure">
                <input id="secure" type="checkbox" name="secure">
                Secure Mode: Require manual approval
            </label>

            <button type="submit" class="contrast">Create Secret Link</button>
            <img src="/static/art.png" alt="Artistic visual" class="art-image">
        </form>

        <footer>
            Your secrets, shared safely &mdash; one time only
        </footer>
    </main>

    <script>
        function toggleSecret() {
            const input = document.getElementById("secret")
            const btn = document.getElementById("toggle-btn")

            if (input.type === "password") {
                input.type = "text"
                btn.textContent = "Hide"
            } else {
                input.type = "password"
                btn.textContent = "Show"
            }
        }
    </script>
</body>

</html>