{{ define "secret_field" }}
<div class="secret-field">
  <input type="password" id="{{.InputID}}" value="{{.Value}}" readonly>

  <div class="secret-actions">
    <button type="button" onclick="toggleSecret()" id="toggle-btn">Show</button>
    <button type="button" onclick="copyToClipboard('{{.InputID}}', '{{.CopyButtonID}}')"
      id="{{.CopyButtonID}}">Copy</button>
  </div>
</div>
{{ end }}

{{ define "link_field" }}
<div class="secret-field">
  <input type="text" id="{{.InputID}}" value="{{.Value}}" readonly>

  <div class="secret-actions">
    <button type="button" onclick="copyToClipboard('{{.InputID}}', '{{.CopyButtonID}}')"
      id="{{.CopyButtonID}}">Copy</button>
  </div>
</div>
{{ end }}